extends layout

block content
  if !user
    - permissionLevel = 0
  else if !user.activated
    - permissionLevel = 1
  else 
    - permissionLevel = 2
  case permissionLevel
    when 1 
      h1 Please activate your account
    when 2
      .left-sidebar
        .keys.list-group
          -for (var i = 0; i < user.factualKeys.length; i++)
            .input-group
              a.list-group-item(href="#")=user.factualKeys[i].key
              span.input-group-btn
                button.btn.btn-danger(type="button") - 
        form.panel.panel-default(method='POST', id='addkey_form')
          .panel-heading
             input(type='hidden', name='_csrf', value=_csrf)
             input.form-control(type='text', name='key', id='key', placeholder='Key', autofocus=true)
             input.form-control(type='text', name='secret', id='secret', placeholder='Secret', autofocus=true)
          .panel-body
             button.btn.btn-success(type='submit', id='addKey')
               i.fa.fa-check
               | Add Key

    default 
      h1 Please register or login to view this application
